extends layout

block content
    h3 Add a Question:
    div **All questions must be approved by an Admin before they will be included in game.

    form(action='/u/addQuestion', method='POST')
        input(type='text', name='newQuestion' placeholder="Enter your new question")
        br
        input(type='text', name='newQuestion' placeholder="Correct answer")
        br
        input(type='text', name='newQuestion' placeholder="Inorrect answer")
        br
        input(type='text', name='newQuestion' placeholder="Incorrect answer")
        br
        input(type='text', name='newQuestion' placeholder="Incorrect answer")
        br 
        button(type='submit' text='Submit')